*/docs/*.odt
*/docs/*.xlsx
*/docs/images
*/docs/_old
*/docs/.~lock.*
*/gerber
*/info
*/DCC*.fzz
*/DCC/*
*/easyeda
*/case/*.stl
*/fritzing
*/pcbway
*/case
*/images
*.zip


EX-IR_Sensor
RT_Diode_current_sensor
RT_3_wire_to_2_wire
